﻿@model RecordCreation.Models.VM.VMUser
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false,"",new { @class = "text-danger" })
 <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control " } )
                @Html.ValidationMessageFor(m=>m.UserEmail,"",new { @class="text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Verify Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model=>model.Password2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password2, "", new { @class = "text-danger" })
            </div>
        </div>

     <div class="form-group">
         @Html.LabelFor(m=>m.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as List<SelectListItem>, new { @class = "form-control" })
             @Html.ValidationMessageFor(m => m.Password2, "", new { @class = "text-danger" })
         </div>
     </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.isActive)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

      @*@Html.EditorForModel()*@
}



<h1>List Of Users</h1>
@*@Html.Partial("_ShowUser", Model.usersList); *@
@Html.Action("ListOfUsers")
<br />
@{ 
    Html.RenderAction("ListOfUsers");
}



@section MyFooterName{
   @Html.Action("ListOfUsers")
}


@section BeforeBody{
    <h1>Hi I am before body</h1>
}