﻿@model RecordCreation.Models.VM.UserRatingVM
@{
    ViewBag.Title = "Details";

}

@helper GetListAsLi(List<double> myRating){
    foreach (var item in myRating)
    {
    <li> @item.ToString() </li>
    }
}
<h2>Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserEmail)
        </dd>

        <dt>
            <dt>
            @Html.LabelFor(model=>model.Users.isActive)
                </dt>
        <dd>
            @{ var val = Model.Users.isActive ? "Yes" : "No";}
            @val
        </dd>
        </dt>
    </dl>
</div>

<ul>
    @GetListAsLi(Model.Ratings.Select(a=>a.RatingNo).ToList())
</ul>
@Html.GetListInLI(Model.Ratings.Select(a => a.RatingNo).ToList())

@Html.ActionLink("Create", "Create", "UserRating", new { Id = Model.Users.UserId }, new { })

@Html.Partial("_RatingList",Model.Ratings)

@section scripts{
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
    }