﻿@model List<RecordCreation.Models.VM.VMUser>

<table>
    <thead>
    <th>
        User Name
    </th>
    <th>
        Email
    </th>
    <th>
        Role Name
    </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.UserEmail
                </td>
                <td>
                    @item.RoleName
                </td>
            </tr>
        }
    </tbody>
</table>
