﻿@model RecordCreation.Models.VM.RatingVM
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.RatingNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.RatingDateTime)
    </td>
    <td>
        @Html.ActionLink("Edit", "Update", new { id = Model.RatingId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.RatingId })
    </td>
</tr>
