﻿@model List<RecordCreation.Models.VM.RatingVM>

<table class="table">
    <tr>
        <th>
            Rating
        </th>
        <th>
            DateTime
        </th>
        <th>

        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.Partial("_RatingItem",item)
    }

</table>

