﻿@model Lec_2.Models.EM.VMStudent
@{
    ViewBag.Title = "Details";
}

<h2>Details of Student</h2>

Name: @Model.Name
<br />
Father's Name: @Model.FatherName
<br />
Batch: @Model.BatchNo
<br />
Registration Year: @Model.RegistrationYear

<br /><br />

@Html.ActionLink("Return to List","Index")