﻿@model List<Lec_2.Models.VM.VMStudents>
@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Father Name
            </th>
            <!--<th>
                Batch No
            </th>-->
            <th>
                Registration No
            </th>
            <th>
                Partail Test
            </th>
            <th>
                Action
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var std in Model)
        {
            <tr>
                <td>
                    @std.Name
                </td>
                <td>
                    @std.FatherName
                </td>
                <td>
                    @std.RegistrationNo
                </td>
                <td>
                    @std.FromParial
                </td>
                <td>
                     @Html.ActionLink("View Details", "ViewDetails", new { id = std.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
