﻿<html>
<head>
    <title>My First Page in HTML</title>
</head>
<body>
    <h2>Hi Index page AKU - For TEst Branch</h2>
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                Mobeen
            </td>
        </tr>
        <tr>
            <td>
                Class:
            </td>
            <td>
                AKU 1
            </td>
        </tr>
        <tr>
            <td>
                View:
            </td>
            <td>
                @Html.ActionLink("View", "AAAction", "MyDetail", new { name = "mobeen", myclass = "AkU 1" }, new { })

            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                Ali
            </td>
        </tr>
        <tr>
            <td>
                Class:
            </td>
            <td>
                AKU 2
            </td>
        </tr>
        <tr>
            <td>
                View:
            </td>
            <td>
                @Html.ActionLink("View", "AAAction", "MyDetail", new { name = "ali", myclass = "AkU 2" }, new { })

            </td>
        </tr>
    </table>

    @Html.ActionLink("Same Action", "MyInfo", "AKU")
</body>
</html>


