﻿<html>
<head>
    <title>My Second Page in HTML</title>
</head>
<body>
    <h2>My Info</h2>
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @ViewBag.Name
            </td>
        </tr>
        <tr>
            <td>
                Height:
            </td>
            <td>
                @ViewBag.Height
            </td>
        </tr>
    </table>
</body>
</html>



