﻿@model List<Lec5.Models.User>
<table>
    <tr>
        <td>
            UserId
        </td>
        <td>
            UserName
        </td>
        <td>
            isActive
        </td>
        <td>
            RoleName
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserId
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.isActive
            </td>
            <td>
                @item.Role.RoleName
            </td>
        </tr>
    }
</table>
