﻿@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div id="userTable">
   
</div>
<div>
    @using (Ajax.BeginForm("GetJsonUser", new AjaxOptions
    {
        //UpdateTargetId = "userTable",
        LoadingElementId = "Loader",
        LoadingElementDuration = 1000,
        //Confirm = "Do you want filter ?",
        //OnBegin = "OnBegin",
        //OnComplete = "onComplete",
        OnSuccess = "OnSuccess",
        //OnFailure = "onFailure",
    }))
    {
    @Html.DropDownList("selectRole", ViewBag.Roles as List<SelectListItem>)
        <button type="submit">Filter</button>
    }
</div>

<div id="Loader" style="display:none;">
    <span style="color:red; font-size:larger">Loading...</span>
</div>

<script type="text/javascript">

    var inProcess = false;
    function OnBegin() {
    

        //alert('On Begin called');
    }

    function OnSuccess(data) {
        // alert("Success: " + data);
        var target = $('#userTable').html('');
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var user = data[i];
            target.append("<table><tr><td>" + user.UserName + "</td><td>" + user.Email +"</td> </tr> </table>")
        }

    }

    function onFailure(request, error) {
        alert(error);
    }

    function onComplete(request, status)
    {
        isProcess = false;

        alert("Comleted" + status);
    }
</script>
