﻿@using Lec1.Models
@model List<Student>
@{
    ViewBag.Title = "List";
}

<h2>List of Students</h2>
<table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                RollNo
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var std in Model)
        {
            <tr>
                <td>@std.Id</td>
                <td>@std.Name</td>
                <td>@std.RollNo</td>
                <td>@Html.ActionLink("View Details", "ViewStudent", new { id = std.Id })</td>
            </tr>
        }


    </tbody>
</table>