﻿@using Lec1.Models
@model Student
@{
    ViewBag.Title = "ViewStudent";

    //var student = (Student)ViewBag.Std;
}

<h2>Student Details</h2>

<table>
    <tr>
        <td>Id : </td>
        <td>@Model.Id </td>
    </tr>
    <tr>
        <td>Name : </td>
        <td>@Model.Name </td>
    </tr>
    <tr>
        <td>Father Name : </td>
        <td>@Model.FatherName </td>
    </tr>
    <tr>
        <td>RollNo : </td>
        <td>@Model.RollNo </td>
    </tr>
</table>

@Html.ActionLink("Return", "List")

